<%- include('../../Components/Header/index') %>
<body>
    <%- include('../../Components/Navbar/index') %>
    <div class="container mt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(({id, title, slug}) => { %>
                    <tr>
                        <th><%= id %></th>
                        <th><%= title %></th>
                        <th><%= slug %></th>
                        <th>
                            <a href="/admin/categories/edit/<%= id %>" class="btn btn-warning">Editar</a>     
                            <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmOnDelete(event, this)">
                                <input type="hidden" name="id" value="<%= id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        
                        </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<%- include('../../Components/Footer/index') %>
<script>
    function confirmOnDelete(event, form){
        event.preventDefault();

        const decision = confirm("Você deseja remover esta categoria?")
        if(decision){
            form.submit();
        }
    }
</script>